<button class="btn btn-success openchat" id="openchat">Open chat</button>
<div class="chat card" id="chat">
    <button class="btn btn-danger" id="closechat">Close chat</button>
    <p class="chatoutput">
        <span class="speaker1"><img src="profile.jpg"  class="imagechat">hello i'm user one fhdfhdfhdfhdfhdfhfdh</span>
        <span class="speaker2"> <img src="profile.jpg"  class="imagechat">hello i'm user two</span>
    </p>
    <input type="text" class="chatinput form-control" id="chatinput" placeholder="type here...">
</div>
