
<div class="container">
    <nav class="navbar navbar-expand-md navbar-light " style="background-color: rgb(23, 77, 136);">
      <a class="navbar-brand" href="#">
        <img src="product3.jpg" width="30" height="30" alt="">
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/<%=isuser%>">Home <span class="sr-only">(current)</span></a>
            </li>
            <%if(isuser){%>
            <li class="nav-item">
              <a class="nav-link" href="/cart">cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orders">orders</a>
            </li>
            <%}else{%>
            <li class="nav-item">
              <a class="nav-link" href="/login">log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">sign up</a>
            </li>
            <%}%>
            <li class="nav-item">
              <a class="nav-link" href="/myproducts/orders">manage orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/myproducts/add">add products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/users">manage users</a>
            </li>
          </ul>

          <ul class="navbar-nav ">
            <li class="navbar-nav mr-auto">
              <a href="/profile" class="nav-link">
                <img src="product3.jpg" width="30" height="30" alt="">
                <span>mohamed</span>
              </a>
            </li>
          </ul>
          <%if(isuser){%>
          <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
            <button class="btn btn-danger" type="submit">logout</button>
          </form>
          <%}%>
        </div>
      </nav>
    </div>
